/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

$primary: #ff0000;
$secondary: #190049;

.text-color {
    &-white {
        color: #f1f1f1 !important;
    }
    &-green {
        color: #4caf50 !important;
    }
    &-red {
        color: #f44336 !important;
    }
    &-blue {
        color: #2196f3 !important;
    }
    &-orange {
        color: #f6ab2b !important;
    }
}

.bg {
    &-primary {
        background-color: $primary !important;
    }
    &-secondary {
        background-color: $secondary !important;
    }
    &-white {
        background-color: #f1f1f1 !important;
    }
    &-green {
        background-color: #4caf50 !important;
    }
    &-red {
        background-color: #f44336 !important;
    }
    &-blue {
        background-color: #2196f3 !important;
    }
    &-orange {
        background-color: #f6ab2b !important;
    }
}
