/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");

@font-face {
    font-family: "Roboto", sans-serif;
    src: url(/fonts/Roboto/Roboto-Thin.ttf);
    font-weight: 100;
}
@font-face {
    font-family: "Roboto", sans-serif;
    src: url(/fonts/Roboto/Roboto-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url(/fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Roboto", sans-serif;
    src: url(/fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "Roboto", sans-serif;
    src: url(/fonts/Roboto/Roboto-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: "Inspiration";
    src: url(/fonts/Inspiration-Regular.ttf);
}
@font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Suez One", serif;
}
