/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import "cssreset";
@import "basic";
@import "color";
@import "fontface";
@import "root";
@import "animation";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

#navbar {
    padding: 0px 0px 0px 0;
    height: 100px;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    font-family: "Montserrat";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    #nav-toggle {
        display: none;
    }
    .display {
        display: none;
    }
    .logo {
        font-family: "Inspiration";
        font-size: 5rem;
        color: $primary;
        font-weight: 500;
        margin: 0 1.25rem;
        padding: 0.625rem;
        font-weight: 600;
        cursor: pointer;
    }
    .icon-bars {
        font-size: 2.5rem;
        margin-top: 1.25rem;
        margin-right: 0.625rem;
        display: none;
        cursor: pointer;
        &:active {
            border-radius: 50%;
            background-color: #eeeeee99;
        }
    }
    .nav-item {
        color: black;
        padding: 0.625rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        .list {
            font-size: min(3vw, 1.25rem);
            text-align: center;
            margin: 0 1.25rem;
            padding: 1.25rem 0;
            &:hover {
                border-bottom: 5px solid $primary;
            }
            &.active {
                border-bottom: 5px solid $primary;
            }
        }
    }

    @media (max-width: 1200px) {
        .logo {
            font-size: 3.75rem;
        }
        .icon-bars {
            display: block;
            float: right;
        }
        .display {
            display: inline-block;
        }
        .nav-item {
            background-color: #ffffff;
            position: fixed;
            width: 100%;
            height: 100vh;
            left: -110%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;

            .logo {
                display: none;
            }
        }
        li {
            margin: 20px 0;
        }
    }
    #nav-toggle {
        &:checked ~ .nav-item {
            left: 0;
        }
    }
}

#hero::after {
    content: "";
    clear: both;
}

#hero {
    background-image: url("/assets/hero-background.svg");
    background-size: cover;
    font-family: "Montserrat";
    padding: 0;

    h2 {
        font-size: 6.25rem;
    }
    p {
        text-align: center;
        font-size: 5rem;
        color: $primary;
        padding: 5px;
    }

    .hero-text {
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .hero-name {
        border-right: 5px solid $primary;
        -webkit-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
    }

    @-webkit-keyframes blink {
        50% {
            border-color: transparent;
        }
        100% {
            border-color: $primary;
        }
    }

    @keyframes blink {
        50% {
            border-color: transparent;
        }
        100% {
            border-color: $primary;
        }
    }

    .hero-logo {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        position: relative;
        img {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            max-height: 100%;
            height: auto;
            max-width: 550px;
        }
    }

    @media (max-width: 1200px) {
        .content {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            .hero-logo {
                img {
                    position: relative;
                    float: right;
                }
            }

            .hero-text {
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
            }
        }
        p,
        h2 {
            font-size: min(8vw, 3.125rem) !important;
        }
    }
}

#about {
    background-color: #d3d3d321;
    p {
        font-size: min(5.5vw, 2rem);
    }

    .text {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        p:last-child {
            opacity: 0;
            -webkit-animation: fade-bottom 1s 2.5s ease-in forwards;
            animation: fade-bottom 1s 2.5s ease-in forwards;
        }

        p:nth-child(1) {
            opacity: 0;
            -webkit-animation: fade-bottom 1s 0.5s ease-in forwards;
            animation: fade-bottom 1s 0.5s ease-in forwards;
        }
        span {
            color: $primary;
            font-weight: bold;
        }
    }

    .image {
        -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;

        img {
            max-width: 55%;
        }
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        .img1 {
            opacity: 0;
            -webkit-animation: fade-left 1s 1.5s ease-in forwards;
            animation: fade-left 1s 1.5s ease-in forwards;
            position: absolute;
            top: 0;
            left: 0;
            margin-bottom: 20px;
        }
        .img2 {
            opacity: 0;
            -webkit-animation: fade-right 1s 2s ease-in forwards;
            animation: fade-right 1s 2s ease-in forwards;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    @media (max-width: 1200px) {
        p {
            font-size: min(6vw, 1.875rem);
        }
        .content {
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
        }
        .text {
            margin-top: 1.25rem;
        }
        .image {
            img {
                height: auto;
                max-height: 60%;
            }
        }
    }
    @-webkit-keyframes identifier {
    }
    @keyframes identifier {
    }
}

#skills {
    .card {
        max-height: 80%;
        height: auto;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin: 1.875rem;
        h3 {
            margin-bottom: 0.625rem;
        }
    }
    .display-left {
        top: 60%;
    }
    .display-right {
        top: 60%;
    }
    button {
        display: none;
        font-size: min(6vw, 1.875rem);
    }
    @media (max-width: 1200px) {
        .content {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            overflow-x: auto;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        .card {
            margin: 1.875rem 10px;
            max-height: 90%;
            width: 95%;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        }

        button {
            display: block;
        }
    }
}

#portfolio {
    position: relative;
    .display-bottom {
        -webkit-animation: pulsate-bck 1.5s ease-in-out infinite both;
        animation: pulsate-bck 1.5s ease-in-out infinite both;
        margin: 20px 0;
        font-size: min(5vw, 1.875rem);
        border-radius: 15px;
        padding: 15px;
    }
}
#contact {
    height: auto;
    .social {
        width: 100%;
        a {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            margin: 2rem auto;
            .d-flex-column {
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

            p {
                font-size: min(3vw, 1.25rem);
            }
            i {
                margin-bottom: 0.625rem;
                font-size: min(10vw, 3.75rem);
            }
        }
    }
    form {
        margin-top: 1.25rem;
        width: 60%;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        @media (max-width: 1200px) {
            width: 90%;
        }
    }
    #name,
    #email,
    #message,
    input[type="submit"] {
        font-size: min(3vw, 1.25rem);
    }
}
